{% extends 'app1/base.html' %}

{% block content %}


  <div class="coontainer">

    <h3 class="text-primary">[N.B. Title with (*) marks represent Important ]</h3>

    <table class="table table-striped">

      <tbody>
        <tr>
          <td>
            {% if todo.important %}
             <h4 class="font-weight-normal">{{ todo.title  | title }} * {% else %} {{ todo.title | title }}</h4>
            {% endif %}

          </td>
        </tr>
        <tr>
          <td>
              {% if todo.description %} <p class="lead"> {{ todo.description }} </p> {%endif %}
          </td>
        </tr>
        <tr>
          <td>
                   <h4>Time Created : </h4>  <h4 class="text-info">{{ todo.time_created }} </h4>
          </td>
        </tr>
          {% if todo.time_completed %}
        <tr>
          <td>
            <h4> Completion Status </h4> <h4 class="text-success">YES</h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4> Completion Time </h4> <h4 class="text-success">{{todo.time_completed}}</h4>
          </td>
        </tr>
        {% else %}
            <tr>
              <td>
                    <h4> Completion Status </h4> <h4 class="text-danger">NO</h4>
              </td>
            </tr>
        {% endif %}
      </tbody>

    </table>

  </div>
{% endblock content %}
