{% extends 'app1/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages  %}

  {% for message in messages  %}

    <div class="alert alert-{{message.tags}}"> {{message}} </div>

  {% endfor %}

{% endif %}


<form method="post">
  {% csrf_token %}
  {{ form | crispy  }}
  <input type="submit" class="btn btn-outline btn-primary" name="" value="Login">
</form>

<hr>
<p>Don't have an account? <a class="text-muted" href="{% url 'user-signup' %}">SignUp</a> </p>


{% endblock content %}
