{% extends 'app1/base.html' %}

{% load crispy_forms_tags %}
{% block content %}


{% if messages  %}

  {% for message in messages  %}

    <div class="alert alert-{{message.tags}}"> {{message}} </div>

  {% endfor %}

{% endif %}

<div class="jumbotron text-center">

  <h1> Your Account Information  </h1>

</div>

<div class="container mb-5">


  <form action="{% url 'user-profile' user.id %}" method="post">
  {% csrf_token %}

  {{ form | crispy }}

  <input type="submit" class="btn btn-outline btn-info" name="" value="Update Profile">

</div>

</form>


{% endblock content %}
